@* @model RestaurantLocator.Models.Restaurant *@
@model Tuple<RestaurantLocator.Models.Restaurant, RestaurantLocator.Models.Rate>

@{
    ViewBag.Title = "CreateReview";
}

<h3> Write a review @Model.Item1.Name</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Item2.Review, htmlAttributes: new { @style = "width: 500px, height: 5000px;" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Item2.Review, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item2.Review, "", new { @class = "text-danger" })
        </div>
    </div>
}

@*<div>
    <h4> Restaurant </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_Range)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price_Range)
        </dd>

    </dl>
</div>*@

<br/>
@Html.ActionLink("Back to Index", "Index")