@model IEnumerable<RestaurantLocator.Models.Restaurant>


@{
    ViewBag.Title = "Index";
}

<h3> Search Page </h3>
<br/>

<p> Enter your address, country or postcode to locate nearby restaurants. </p>

@using (Html.BeginForm())
{
    <b> Details: </b>
    @Html.TextBox("address");
    <input type="submit" value="Search" />
    <br />
    <i> e.g. 11 Palmerston Road, London, E17 6PF </i>

        if (ViewData["NoMatch"] != null)
        {
            <div class="input-validation-error">
                Address was not found, please try again.        
            </div>
        }

        var similarMatches = ViewData["MatchResults"] as IEnumerable<string>;

        if (similarMatches != null) {
        <div style="padding-left: 25px; margin-top: 10px;">
            <b> Following matches found ... </b>
            <ol>
                @foreach (var match in similarMatches)
                {
                    <li> 
                        @Html.ActionLink(match, "AddressResults", new { Address = match }) 
                    </li>
                }
            </ol>
        </div>
       }
    }

    <br/>
    <p>
        @Html.ActionLink("Add New Restaurant", "CreateData")
    </p>
    
    <table cellspacing="0" cellpadding="5" rules="all" class="searchResults">
        <tr>
            <th> Restaurant Name </th>
            <th> Cuisine </th>
            <th> Address </th>
            <th> Phone Number </th>
            <th> Read / Update / Delete </th>
        </tr>

    @foreach (var restaurant in Model)
    {
        @Html.HiddenFor(model => restaurant.ID)
        <tr>
            <td> @restaurant.Name </td>
            <td> @restaurant.Cuisine </td>
            <td>
                @restaurant.Address <br/>
                @restaurant.City <br/>
                @restaurant.Country <br/>
                @restaurant.Postcode <br/>    
            </td>
            <td> @restaurant.Phone_Number </td>
            <td>
                @Html.ActionLink("Restaurant Details", "ReadData", new { id = restaurant.ID }) <br/>
                @Html.ActionLink("Update Restaurant Details", "UpdateData", new { id = restaurant.ID }) <br/>
                @Html.ActionLink("Delete Restaurant", "DeleteData", new { id = restaurant.ID }) <br/>
                @Html.ActionLink("Test", "CreateReview", new { id = restaurant.ID }) <br />
            </td>
        </tr>
    }
    </table>



