@model RestaurantLocator.Models.RestaurantView


@{
    ViewBag.Title = "Index";
}

<h3> <p class="centerAlign"> Administrator Tools </p> </h3>

<h4> <p class="centerAlign"> List of Restaurants </p> </h4>

    <table cellspacing="0" cellpadding="5" rules="all" class="searchResults">
        <tr>
            <th> @Html.ActionLink("Add", "CreateData") / Read / Update / Delete </th>
            <th> Name </th>
            <th> Address </th>
            <th> Phone Number </th>
        </tr>

    @foreach (var restaurant in Model.allRes)
    {
        <tr>
            <td>
                @Html.ActionLink("Restaurant Details", "ReadData", new { id = restaurant.ID }) <br />
                @Html.ActionLink("Update Restaurant Details", "UpdateData", new { id = restaurant.ID }) <br />
                @Html.ActionLink("Delete Restaurant", "DeleteData", new { id = restaurant.ID }) <br />
            </td>
            <td> 
                 @Html.ActionLink(@restaurant.Name, "RCReview", new { id = restaurant.ID }) 
            </td>
            <td>
                @restaurant.Address <br/>
                @restaurant.City <br/>
                @restaurant.Country <br/>
                @restaurant.Postcode <br/>    
            </td>
            <td> @restaurant.Phone_Number </td>
        </tr>
    }
    </table>
<br />
<h4> <p class="centerAlign"> List of Reviews </p> </h4>
<br />
<table cellspacing="0" cellpadding="5" rules="all" class="searchResults">
    <tr>
        <th> Create / Read / Update </th>
        <th> ID </th>
        <th> Review </th>
    </tr>

    @foreach (var review in Model.allRate)
    {
        <tr>
            <td>
                @Html.ActionLink("Review Restaurant", "RCReview", new { id = review.Restaurant_ID }) <br />
                @Html.ActionLink("Delete Review", "DeleteReview", new { id = review.ID }) <br />
            </td>
            <td> @review.Restaurant_ID </td>
            <td> @review.Review </td>
        </tr>
    }
</table>

